<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Thevelops</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen" href="/build/bundle.min.css" />
</head>
<body>
	<header class="header">
		<figure class="brand">
			<img src="/assets/icons/brand.svg" />
		</figure>
		<nav class="navigation">
			<a class="link -coming-soon" href="#">blog (coming soon)</a>
			<a class="link" href="#">about</a>
			<a class="link" href="#">co-workers</a>
			<a class="link" href="#">contact</a>
		</nav>
	</header>
	<main class="main">
		<section id="apresentation" class="apresentation">
			<h1 class="title">
				<p>Hello,</p>
				we are us <strong>theVelops</strong>
			</h1>
			<p class="description">
				 We invest technology in projects, developing software in cost price in exchange of equity.
			</p>
			<button type="button" class="more">More</button>
		</section>
		<section id="about" class="about">
			<h2 class="title">
				<img src="/assets/icons/about.svg" />
				About us
			</h2>
			<div class="text">
				<p>Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Leite de capivaris, leite de mula
				manquis sem cabeça. Per aumento de cachacis, eu reclamis. In elementis mé pra quem é amistosis quis leo.</p>
				<p>Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Mauris nec dolor in eros commodo tempor. Aenean aliquam
				molestie leo, vitae iaculis nisl. Si num tem leite então bota uma pinga aí cumpadi! Praesent vel viverra nisi. Mauris aliquet
				nunc non turpis scelerisque, eget.</p>
			</div>
		</section>
		<section id="co-workers" class="co-workers">
			<h2 class="title">
				<img src="/assets/icons/co-workers.svg" />
				Co-workers
			</h2>
			<div class="list">
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
			</div>
		</section>
	</main>
	<footer class="footer">
		
	</footer>
</body>
</html>