// $blue = #6089F7
// $blue-hover = #567BDD
// $purple = #B166ED
// $purple-hover = #9E5BD3
// $gray = #525252
// $light-gray = #9E9E9E


$blue = #525252
$blue-hover = #525252
$purple = #525252
$purple-hover = #525252
$gray = #525252
$light-gray = #9E9E9E